{
  "passPerPreset": true,
  "plugins": [
    ["relay", {
      "compat": true,
      "schema": "data/schema.graphql",
      "enforceSchema": true,
      "suppressWarnings": false,
      "debug": true,
      }
    ]
  ],
  "presets": [
    {
      "plugins": [
        "./build/babelRelayPlugin"
      ]
    },
    "react",
    "es2015",
    "stage-0"
  ]
}
