.flex-container {
  display: -webkit-flex;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #f4f4f4;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding-top: 2%;
}
.flex-child {
  align-self: center;
  background-color: #fff;
  box-shadow: 5px 5px 5px #888888;
  width: 85%;
  height: 150px;
  margin: 2%;
  margin-top: 0;
  padding: 4px;
}
.floating-right-nav-item {
  float: right;
}
.panel-mobile {
  background-color: #1a1a1a;
  color: #fff;
}
.page-body {
  color: #fff;
}
.memoir-text-area {
  height: 45vh !important;
}
.navbar-overall {
  background: transparent;
  height: 100%;
  padding-top: 15px;
}
.nav-dropdown-menu, .nav-dropdown-menu a {
  color: #1abc9c !important;
  text-decoration: none;
}
